{% extends "::base.html.twig" %}

{% block title %}Edit a category of questions{% endblock %}

{% block left_bar %}
	<div class="span12">
		<h1>Edit category "{{ cat.name }}"</h1>
		<form action="{{ path("category_edit", {"id":cat.id}) }}" method="post" id="cat-form">
			{{ form_errors(form) }}
			{{ form_row(form.name) }}
			
			{{ form_rest(form) }}
			<br>
			<input type="submit" class="btn btn-primary" name="submit" value="Confirm" />
			<a class="btn btn-inverse" href="{{ path("category_index") }}">Cancel</a>
		</form>
	</div>
{% endblock %}
